<section class="section">
  <div class="container">
    <h2 class="text-center title">LOG_IN</h2>

    <%= form_with(scope: :session,url: sessions_path, local: true) do |f| %>
    <div class ="new_post">
    <table class="blog_form">
      <tr>
        <td>
          <h5>Email</h5>
          <%= f.email_field :email, class:'blog_input',:size => "45" %>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Password</h5>
          <%= f.password_field :password, class:'blog_input',:size => "45" %>
        </td>
      </tr>
      <tr>
          <td>
　　        <div class="btn_center">
　　          <%= f.submit 'LOG IN', class:'btn btn-default' %>
　　        </div>
　　      </td>
　　  </tr>
　　</table>
　　</div>
    <% end %>

  </div>
</section>