<section class="section">
<div class="container">

    <div class="row">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

      <p class="title">MY NOTES</p>
      <p class="subtitle">Learning programming</p>

  	  <h3 class="tagline">
	    プログラミングスキル習得のための
	    <br>記録しておきたいメモやアイディアや学習記録
  	  </h3>

　　　<p>
        <%= link_to 'NEW POST', new_blog_path, class:"btn btn-default btn-lg" %>
      </p>

    </div>
    </div>


</div>
</section>