<section class="section">
<div class="container">

    <div class="row">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

      <p class="title">
        <% if logged_in? %>
        WELCOME to
        <% end %>
        MY NOTES</p>
      <p class="subtitle">Learning programming</p>

      <h3 class="tagline">
      プログラミングスキル習得のための
      <br>記録しておきたいメモやアイディアや学習記録
      </h3>

    <div>
      <% if logged_in? %>
        <%= link_to 'NEW POST', new_blog_path, class:'btn btn-default btn-lg' %>
      <% else %>
        <p>
          <%= link_to 'LOG IN', new_session_path, class:'btn btn-default btn-lg'  %>
        </p>
        <p>
          <%= link_to 'Create Your Account', new_user_path %>
        </p>
      <% end %>
    </div>

    </div>
    </div>

</div>
</section>