html{
  position: relative;
}
header {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}